@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed&display=swap');

body {
    font-size: 24px;
    font-family: 'Fira Sans Condensed', sans-serif;
}

h3 {
    text-shadow: 1px 1px 3px gray;
    text-align: center;
    color: black;
    background-image: linear-gradient(#f7f8fa, #e7e9ec);
    border-color: #adb1b8 #a2a6ac #8d9096;
    padding: 10px;
    width: 15%;
    border-radius: 10px;
    border-block-style: solid;
    margin: auto auto 10px;

}

form {
    text-align: center;
    text-shadow: 1px 1px 3px gray;
}